* {
  padding: 0;
  margin: 0;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #333;
  overflow: hidden;
}
.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto !important;
  width: 90%;
  height: 90vh;
  background-color: rgb(88, 88, 88);
}
.box1,.box2,.box3{
  height: 95%;
  width: 25%;
  margin: 25px;
  overflow: hidden;
  font-size: 25px;
  background-color: rgb(88, 88, 88);
  color: white;
}
.container #line{
  height: 90%;
  width: 5px;
  background-color: #f7f3f3;
}
ul li{
  line-height: 50px;
  list-style: none;
  margin-top: 5px;
  margin-right: 30px;
  margin-left: -10px;
  text-align: center;
}




/************************** dialog样式 ****************************/
.dialog-box {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.dialog {
  border-radius: 10px;
  background-color: #f5f5f5;
  overflow: hidden;
  border: 1px solid #ccc;
  min-width: 600px;
}
.dialog .dialog-title {
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #e8392a;
  font-weight: 700;
  letter-spacing: 3px;
}
.dialog-title::after {
  content: '';
  border: 1px solid #fff;
}
.dialog .dialog-content {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-box {
  min-width: 250px;
  padding: 0 10px;
}
.content-box + .content-box {
  border-left: 2px solid #ccc;
}
.dialog .dialog-content p {
  padding: 3px 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}


/*********************************input样式*****************************/
.input-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.input-box input {
  padding: 100%;
  /* visibility: hidden; */
}

/*********************************底部button样式******************************************/
.button-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.button-box span {
  padding: 8px 14px;
  display: inline-block;
}
