<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./jquery.min.js"></script>
  <style>
    #csvFileInput{
      position: absolute;
      right: 0px;
      opacity: 0;
    }
  </style>
</head>
<body>
  <button type="button" name="seach" onclick="FuncCSVInport()">CSV Import</button>
  <input type="file" id="csvFileInput" onchange="readCSVFile(this)" />

  <script>
    function csvToObject(csvString){
        var csvarry = csvString.split("\r\n");
        // console.log(csvarry)
        var datas = [];
        var headers = csvarry[0].split(",");
        for(var i = 1;i<csvarry.length;i++){
            var data = {};
            var temp = csvarry[i].split(",");
                 for(var j = 0;j<temp.length;j++){
                     data[headers[j]] = temp[j];
                 }
            datas.push(data);
        }
         return datas;
    }

     function FuncCSVInport() {
         $("#csvFileInput").val("");
         $("#csvFileInput").click();
     }

     function readCSVFile(obj) {
         var reader = new FileReader();
         reader.readAsText(obj.files[0]);
         reader.onload = function () {
          var csvarry = this.result.split("\r\n");
              //  var data = csvToObject(this.result);
                console.log(csvarry);//data为csv转换后的对象
        }
     }
</script>
</body>
</html>