<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./index.css">
  <script src="./jquery.min.js"></script>
  <script src="./jquery.easing.js"></script>
  <script src="index.js"></script>
</head>
<body>
  <div class="container">
    <div class="box1">
      <ul id="ul1"></ul>
    </div>
    <div class="box2" id="demo3">
      <ul id="ul2"></ul>
    </div>
    <div class="box3" >
      <ul id="ul3"></ul>
    </div>
  </div>
  <div>
    <input type="file" id="csvFileInput" onchange="readCSVFile(this)"/>
  </div>
  <script>
    var count = 0
    var interval
    var MyMar
    var data
    var ulHeight1 = 0
    var ulHeight3 = 0
    var height1 = 2
    var height3 = 2
    //回车键控制开始和停止
    $(document).keydown(function (event) {
      var e = event || window.event || arguments.callee.caller.arguments[0];
      if (e && e.keyCode == 13) { // enter 键
        if(count % 2 === 0) {
          interval = setInterval(()=> {doscroll()}, 0);
          MyMar = setInterval(Marquee, 0); //设置定时器
        } else {
          clearInterval(interval);//停止
          clearInterval(MyMar);//停止
        }
        count++
      }
    });

    var drawLetters = document.getElementById("demo3");　　　　
    var dl = document.getElementById("ul2");　　　　
    var speed = 0; //滚动速度值，值越大速度越慢
    var height22 = 100000
    　　　　
    function Marquee() {　　　　　
        height22 = height22 - 3
        drawLetters.scrollTop = height22;　　　　　　
        var newNode = document.createElement("ul");　　　　　　
        newNode.innerHTML = dl.innerHTML;　　　　　　
        drawLetters.insertBefore(newNode, null);　　　　　
    }　
    var doscroll = function(){
      var $parent1 = $('.box1 ul');
      // var $first1 = $parent1.find('li:first');
      // var height1 = $first1.height();
      var $box1 = $('.box1')
      ulHeight1 = $parent1.height()
      $box1.animate({ scrollTop: height1 + 'px' }, 0, function(){
        height1 = height1 + 3
        console.log(height1)
      });
      if(height1 > ulHeight1 - 700){
        console.log(1111)
        var length = parseInt(data.length/3)
        for(var i = 1; i < length; i++){
          var li=document.createElement("li");
          var ul = document.getElementById("ul1")
          li.innerHTML=data[i].toString();
          ul.appendChild(li);
        }
      }
      // $first1.animate({
      //   marginTop: -height1 - 5 + 'px'
      //   // height: 0
      // }, 50, function() {// 动画结束后，把它插到最后，形成无缝
      // // $first1.css('height', height1).appendTo($parent1);
      // $first1.css('marginTop', 5).appendTo($parent1);
      // });
      // var h2 = 10000
      // var $parent2 = $('.box2 ul');
      // var $last2 = $parent2.find('li:last');
      // var height2 = $last2.height();
      // var $box2 = $('.box2 ul')
      // $box2.animate({ marginBottom: h2 + 'px' }, 150, function(){
      //   h2 = h2 - 60
      //   // $parent2.appendTo($box2);
      // });
      // $parent2.animate({
      //   marginTop:  5 + 'px'
      // }, 50, function() {
      // $last2.css('height', height2).prependTo($('.box2 ul'));
      // });

      var $parent3 = $('.box3 ul');
      // var $first3 = $parent3.find('li:first');
      // var height3 = $first3.height();
      var $box3 = $('.box3')
      ulHeight3 = $parent3.height()
      $box3.animate({ scrollTop: height3 + 'px' }, 0, function(){
        height3 = height3 + 3
        // $parent1.appendTo($box1);
      });
      if(height3 > ulHeight3 - 500){
        var length = parseInt(data.length/3)
        for(var i = length * 2; i < length * 3; i++){
          var li=document.createElement("li");
          var ul = document.getElementById("ul3")
          li.innerHTML=data[i].toString();
          ul.appendChild(li);
        }
      }
    };

    function readCSVFile(obj) {
      var reader = new FileReader();
      reader.readAsText(obj.files[0]);
      reader.onload = function () {
        var csvarry = this.result.split("\r\n");
        var length = parseInt(csvarry.length/3)
        console.log(csvarry.length/3);
        data = csvarry
        for(var i = 1; i < length; i++){
          var li=document.createElement("li");
          var ul = document.getElementById("ul1")
          li.innerHTML=csvarry[i].toString();
          ul.appendChild(li);
        }
        for(var i = length; i < length * 2; i++){
          var li=document.createElement("li");
          var ul = document.getElementById("ul2")
          li.innerHTML=csvarry[i].toString();
          ul.appendChild(li);
        }
        for(var i = length * 2 ; i < length * 3; i++){
          var li=document.createElement("li");
          var ul = document.getElementById("ul3")
          li.innerHTML=csvarry[i].toString();
          ul.appendChild(li);
        }
        console.log($('.box2').height());
        var $parent2 = $('.box2 ul');
        var $last2 = $parent2.find('li:first');
        var height2 = $last2.height();
        console.log(height2)
      }
    }

    // $.extend({
    //   csv: function (url, f) {
    //     $.get(url, function (record) {
    //       //按回车拆分
    //       record = record.split(/\n/);
    //       //第一行标题
    //       var title = record[0].split(",");
    //       //删除第一行
    //       record.shift();
    //       var data = [];
    //       for (var i = 0; i < record.length; i++) {
    //         var t = record[i].split(",");
    //         for (var y = 0; y < t.length; y++) {
    //             if (!data[i]) data[i] = {};
    //             data[i][title[y]] = t[y];
    //         }
    //       }
    //       f.call(this, data);
    //       data = null;
    //     });
    //   }
    // })

    // $.csv('C:\test2\抽奖\raffle\conf/data.csv', function (data) {
    //   console.log(data)
    // })
  </script>
</body>
</html>
